@use '@/shared/styles/_variables' as *;

.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    background-color: var(--color-gray-200);
    background-image: linear-gradient(
        90deg,
        var(--color-gray-200) 0px,
        var(--color-gray-100) 50%,
        var(--color-gray-200) 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: skeleton-shimmer 1.5s infinite linear;
    border-radius: $radius-sm;

    &--circle {
      border-radius: $radius-full;
    }
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -150% 0;
  }
  100% {
    background-position: 150% 0;
  }
}

:host-context(.dark-mode) .skeleton__item,
.dark-mode .skeleton__item {
  background-color: var(--bg-tertiary);
  background-image: linear-gradient(
      90deg,
      var(--bg-tertiary) 0px,
      var(--bg-active) 50%,
      var(--bg-tertiary) 100%
  );
}
