@use '@/shared/styles/_variables' as *;

.register-form__redirect {
  text-align: center;
  font-size: $font-size-sm;
  color: var(--text-secondary);

  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: $font-weight-medium;

    &:hover {
      text-decoration: underline;
    }
  }
}
